h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: 'Gill sans std', sans-serif;
  color: #000;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Photo-header_EnsembleCitoyens_v2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.logo {
  display: inline-block;
  width: 500px;
}

.charte-des-valeurs {
  margin: 80px auto 100px;
  text-align: center;
}

.heading {
  font-family: 'Gill sans std', sans-serif;
  color: #232a60;
  font-weight: 700;
}

.cdt {
  overflow: hidden;
  max-width: 720px;
  margin: 40px auto 20px;
  font-family: Gillsansstd, sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 1.35;
  font-weight: 400;
  text-align: justify;
  text-decoration: none;
}

.cdt.mail {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Gillsansstd, sans-serif;
  font-size: 30px;
}

.cdt.center {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Gillsansstd, sans-serif;
  font-weight: 400;
  text-align: center;
}

.cdt.center.cap {
  font-weight: 400;
  letter-spacing: 5px;
}

.partis-membres {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f3fdff;
}

.heading-2 {
  max-width: 720px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Gill sans std', sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
  text-align: justify;
}

.heading-3 {
  color: #000;
}

.heading-4 {
  color: #000;
}

.logos-partis {
  display: -ms-grid;
  display: grid;
  height: 80px;
  max-width: 1100px;
  margin-top: 40px;
  margin-bottom: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.restons-connect-s {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f2f2;
}

.title_restons-connectes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  display: block;
  width: 50px;
  margin-right: 20px;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.image-2 {
  width: 30px;
  margin-right: 20px;
  padding-bottom: 10px;
}

.title_nous-contacter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  padding-left: 20px;
}

.text-block-2 {
  margin-left: 20px;
  font-family: Roboto, sans-serif;
  color: #cfcfcf;
  font-size: 19px;
  font-weight: 400;
}

.html-embed {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 60px auto 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Gillsansstd, sans-serif;
  color: #000;
  font-size: 18px;
  font-style: normal;
  text-align: center;
}

.divider {
  width: 380px;
  height: 0.5px;
  background-color: #000;
}

.links-mentions-l-gales {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item_links-mention-l-gales {
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
}

.bold-text {
  color: #000;
  text-decoration: line-through;
}

.copyright {
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 11px;
  text-align: center;
}

.center {
  margin-top: 10px;
}

.heading-6 {
  font-family: 'Gill sans std', sans-serif;
  font-weight: 700;
}

.image-3 {
  height: 85px;
  padding-top: 10px;
  padding-bottom: 10px;
  mix-blend-mode: darken;
  -o-object-fit: contain;
  object-fit: contain;
}

.image-4 {
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  mix-blend-mode: darken;
  -o-object-fit: contain;
  object-fit: contain;
}

.image-5 {
  height: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  mix-blend-mode: darken;
  -o-object-fit: contain;
  object-fit: contain;
}

.image-6 {
  height: 70px;
  mix-blend-mode: darken;
  -o-object-fit: contain;
  object-fit: contain;
}

.image-7 {
  height: 70px;
  mix-blend-mode: darken;
  -o-object-fit: contain;
  object-fit: contain;
}

.image-8 {
  display: block;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  -o-object-fit: contain;
  object-fit: contain;
}

.div-mailchimp {
  position: relative;
  display: block;
  width: 400px;
  height: 40px;
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: transparent;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.submit-button {
  height: 40px;
  background-color: #333;
}

.text-field {
  height: 40px;
  margin-right: 10px;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field-2 {
  width: 400px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: #333;
}

.submit-button-2 {
  height: 100%;
  border-radius: 10px;
  background-color: #333;
}

.success-message {
  background-color: transparent;
}

.form-block {
  display: none;
}

@media screen and (min-width: 1920px) {
  .hero {
    background-position: 50% 50%;
    background-size: cover;
  }

  .cdt {
    max-width: 1200px;
  }

  .heading-2 {
    max-width: 1200px;
  }
}

@media screen and (max-width: 991px) {
  .hero {
    background-position: 50% 50%;
    background-size: cover;
  }

  .charte-des-valeurs {
    max-width: 650px;
  }

  .logos-partis {
    max-width: 650px;
  }

  .div-block {
    width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-size: cover;
  }

  .charte-des-valeurs {
    max-width: 500px;
  }

  .partis-membres {
    padding-bottom: 100px;
  }

  .logos-partis {
    margin-top: 100px;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .div-block {
    width: 400px;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    height: 400px;
    background-size: cover;
  }

  .logo {
    width: 250px;
  }

  .charte-des-valeurs {
    max-width: 250px;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .cdt {
    margin-bottom: 40px;
    font-size: 18px;
  }

  .cdt.mail {
    display: block;
    max-width: 250px;
    font-size: 18px;
  }

  .cdt.center {
    font-size: 18px;
  }

  .partis-membres {
    padding-top: 0px;
  }

  .heading-2 {
    font-size: 18px;
    text-align: left;
  }

  .logos-partis {
    max-width: 250px;
    margin-top: 100px;
    margin-bottom: 120px;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }

  .title_restons-connectes {
    max-width: 250px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .image-2 {
    padding-top: 10px;
  }

  .title_nous-contacter {
    display: block;
    max-width: 250px;
    margin-top: 140px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block {
    max-width: 250px;
  }

  .html-embed {
    margin-top: 40px;
  }

  .divider {
    width: 250px;
  }

  .center {
    font-size: 30px;
    line-height: 1.2;
  }

  .heading-6 {
    font-size: 30px;
    line-height: 1.2;
  }

  .heading-7 {
    max-width: 250px;
    font-size: 30px;
    line-height: 1.2;
  }

  .heading-8 {
    margin-top: 20px;
    font-size: 30px;
    line-height: 1.2;
  }

  .div-mailchimp {
    max-width: 250px;
  }
}

#w-node-c4bd1ac2-4461-f4e3-6e51-793bb31e9a31-103a2bd3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-ad4f40f6-db4c-dac6-aeb8-cf2535a5876f-103a2bd3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_9b0481b2-cd19-ae1e-492e-4796aabc1cf3-103a2bd3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c46c7ec4-9486-e28b-ffee-14a751db5e3f-103a2bd3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_642b691a-a038-f9aa-a109-009b167c7e6f-103a2bd3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_806601fa-b9a0-b448-7a08-772483f35df0-103a2bd3 {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
}

@font-face {
  font-family: 'Robotoslab';
  src: url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gill sans std';
  src: url('../fonts/GillSansStd-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gillsansstd';
  src: url('../fonts/GillSansStd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monotype gill sans nova cn';
  src: url('../fonts/Monotype-Gill-Sans-Nova-Cn-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monotype gill sans nova';
  src: url('../fonts/Monotype-Gill-Sans-Nova-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}